<section id="form-redux">
  <div class="container p-4">
    <h3 class="text-center">Account Options</h3>
    <p class="text-center">
      <i>(Redux Implementation)</i>
    </p>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card card-body">
          <div *ngIf="editDataForm | async as form">
            <form (ngSubmit)="onEditSubmit()" #editDataForm="ngForm">
              <div class="form-group">
                <label for="defaultLanguage">Default Language</label>
                <input type="text" class="form-control" required [(ngModel)]="form.defaultLanguage" name="defaultLanguage" #defaultLanguage="ngModel"
                  placeholder="Default Language">
              </div>
              <div class="form-group">
                <label for="loginIdentifierConflict">Login Identifier Conflict</label>
                <select class="form-control" required [(ngModel)]="form.loginIdentifierConflict" name="loginIdentifierConflict" #loginIdentifierConflict="ngModel">
                  <option value="Login Identifier Conflict" disabled selected>Login Identifier Conflict</option>
                  <option>ignore</option>
                  <option>failOnSiteConflictingIdentity</option>
                  <option>failOnAnyConflictingIdentity</option>
                </select>
              </div>
              <div class="form-group">
                <label for="loginIdentifiers">Login Identifiers</label>
                <select type="text" class="form-control" required [(ngModel)]="form.loginIdentifiers" name="loginIdentifiers" #loginIdentifiers="ngModel"
                  placeholder="Login Identifiers">
                  <option value="Login Identifiers" disabled selected>Login Identifiers</option>
                  <option>email</option>
                  <option>username</option>
                  <option>email, username</option>
                  <option>providerEmail</option>
                </select>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" required [(ngModel)]="form.verifyEmail" #verifyEmail="ngModel" name="verifyEmail" type="checkbox"
                    id="verifyEmail">
                  <label class="form-check-label" for="verifyEmail">Verify Email</label>
                </div>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" required [(ngModel)]="form.allowUnverifiedLogin" #allowUnverifiedLogin="ngModel" name="allowUnverifiedLogin"
                    type="checkbox" id="allowUnverifiedLogin">
                  <label class="form-check-label" for="allowUnverifiedLogin">Allow Unverified Login</label>
                </div>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" required [(ngModel)]="form.preventLoginIDHarvesting" #preventLoginIDHarvesting="ngModel"
                    name="preventLoginIDHarvesting" type="checkbox" id="preventLoginIDHarvesting">
                  <label class="form-check-label" for="preventLoginIDHarvesting">Prevent Login ID Harvesting</label>
                </div>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" required [(ngModel)]="form.sendAccountDeletedEmail" #sendAccountDeletedEmail="ngModel" name="sendAccountDeletedEmail"
                    type="checkbox" id="sendAccountDeletedEmail">
                  <label class="form-check-label" for="sendAccountDeletedEmail">Send Account Deleted Email</label>
                </div>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" required [(ngModel)]="form.sendWelcomeEmail" #sendWelcomeEmail="ngModel" name="sendWelcomeEmail"
                    type="checkbox" id="sendWelcomeEmail">
                  <label class="form-check-label" for="sendWelcomeEmail">Send Welcome Email</label>
                </div>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" required [(ngModel)]="form.verifyProviderEmail" #verifyProviderEmail="ngModel" name="verifyProviderEmail"
                    type="checkbox" id="verifyProviderEmail">
                  <label class="form-check-label" for="verifyProviderEmail">Verify Provider Email</label>
                </div>
              </div>
              <button type="submit" class="btn btn-success btn-block" [disabled]="!editDataForm.form.valid">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>